node_modules
.shadow-cljs
package-lock.json
package.json
web-target/public
pom.xml
pom.xml.asc
.cpcache
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.iml
.idea
